<div #dropListContainer class="example-container" cdkDropListGroup>
  <div
    *ngFor="let item of items; let i = index"
    cdkDropList
    [cdkDropListData]="i"
  >
    <div
      [ngStyle]="{ height: buttonHeight + 'px', width: buttonWidth + 'px' }"
      cdkDrag
      [cdkDragData]="i"
      (cdkDragEntered)="dragEntered($event)"
      (cdkDragMoved)="dragMoved($event)"
      (cdkDragDropped)="dragDropped($event)"
      class="example-box"
    >
      {{ item }}
    </div>
  </div>
  <div
    [ngStyle]="{ height: buttonHeight + 'px', width: buttonWidth + 'px' }"
    (click)="add()"
    class="example-box"
  >
    +
  </div>
</div>
